@import 'normalize.css';

:root {
    // Default layout
    --width-app-layout: 1150px;
    --default-layout-horizontal-spacer: 24px;

    // color
    --primary-color: rgba(254, 44, 85, 1);
    --black: #000;
    --text-color: #333;
    --while-color: rgba(255, 255, 255, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'ProximaNova', Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button {
    background-color: rgba($color: var(--while-color), $alpha: 1);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
}

// Fonts

@font-face {
    font-family: ProximaNova;
    src: url('/assets/Fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/Fonts/Proxima-Nova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/Fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/Fonts/sofiapro-bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/Fonts/sofiapro-semibold.otf');
    font-weight: 600;
}

// GG ICONS

.material-symbols-outlined {
    padding-top: 3px;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
